@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$title-font: 'Press Start 2P', cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url('images/snakeback.png') no-repeat center center fixed; 
    background-size: cover;

}