@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");

$title-font: "Titan One", cursive;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: url('../images/snakebackground.jpg') no-repeat center center fixed; 
    background-size: cover;

}