@use "./base.scss" as *;


.container {
    display: flex;
    justify-content: center;
    align-items: center;

    &__game-board {
        border: 5px solid brown;
        height: 70vh;
        width: 100vmin;
        display: grid;
        grid-template-rows: repeat(21, 1fr);
        grid-template-columns: repeat(21, 1fr);
    }


}


.selectors {
    margin-top: 170px;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &__player1 {
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        border: hidden;
        background-color: rgb(65, 104, 221);
        color:seashell;
        font-family: $title-font;
    }

    &__player2 {
        margin: 10px;
        padding: 10px;
        border-radius: 20px;
        border: hidden;
        background-color: rgb(170, 31, 31);
        color:seashell;
        font-family: $title-font;
    }

    &__score {
        font-size: 25px;
        font-weight: bolder;
        color: whitesmoke;
        font-family: $title-font;
    }
}

.snake {
    background-color: cornflowerblue;
    border: .25vmin solid black;
}

.food {
    background-color: darkgoldenrod;
    border: .25vmin solid black;
}





