@use "./base.scss" as *;


.grid {
    height: 60vh;
    padding-left: 15%;
    padding-right: 15%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
    border: 5px solid black;

    div {
        border: 2px solid purple
    }
}

.selectors {
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
}





