@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("images/snakebackground.jpg") no-repeat center center fixed;
  background-size: cover;
}

.grid {
  height: 70vh;
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  align-content: center;
  border: 20px solid brown;
}
.grid div {
  border: 2px solid purple;
}

.selectors {
  margin-top: 170px;
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.selectors__player1 {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: hidden;
  background-color: #4168dd;
  color: seashell;
  font-family: "Titan One", cursive;
}
.selectors__player2 {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: hidden;
  background-color: #aa1f1f;
  color: seashell;
  font-family: "Titan One", cursive;
}
.selectors__score {
  font-size: 25px;
  font-weight: bolder;
  color: whitesmoke;
  font-family: "Titan One", cursive;
}

.title__wrapper {
  width: 100vw;
  text-align: center;
}
.title__wrapper span {
  -webkit-text-stroke-width: 1.25px;
  -webkit-text-stroke-color: #000;
  font-size: 100px;
  text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
  transform: translate(0, 100%) rotate(4deg);
  animation: jump 2s ease-in-out infinite;
  display: inline-block;
  font-family: "Titan One", cursive;
  color: #fff;
}
.title__wrapper span:nth-child(1) {
  animation-delay: 120ms;
}
.title__wrapper span:nth-child(2) {
  animation-delay: 240ms;
}
.title__wrapper span:nth-child(3) {
  animation-delay: 360ms;
}
.title__wrapper span:nth-child(4) {
  animation-delay: 480ms;
}
.title__wrapper span:nth-child(5) {
  animation-delay: 600ms;
}

@keyframes jump {
  33% {
    text-shadow: 0 60px #f37121, 0 150px #f2aaaa;
  }
  50% {
    transform: translate(0, 0) rotate(-4deg);
    text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
  }
  66.67% {
    text-shadow: 0 -60px #d54062, 0 -150px #8fc0a9;
  }
}
@media screen and (max-height: 200px) {
  .wrapper {
    transform: scale(0.3, 0.3);
  }
}
@media screen and (max-width: 576px) {
  .wrapper span {
    font-size: 50px;
  }
}