@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("images/snakeback.png") no-repeat center center fixed;
  background-size: cover;
}

.grid {
  height: 60vh;
  padding-left: 15%;
  padding-right: 15%;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr);
  border: 20px solid brown;
}
.grid div {
  border: 2px solid purple;
}

.selectors {
  height: 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.selectors__player1 {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: hidden;
  background-color: #4168dd;
  color: seashell;
}
.selectors__player2 {
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: hidden;
  background-color: #aa1f1f;
  color: seashell;
}

.title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: "Press Start 2P", cursive;
  position: relative;
  color: #250425;
  text-shadow: 0.05em 0 0 #aa1f1f, -0.05em -0.02em 0 rgba(45, 231, 8, 0.75), 0.05em 0.02em 0 #4168dd;
  animation: glitch 1000ms infinite;
}

.title span {
  position: absolute;
  left: 40%;
  top: 0;
}

.title span:first-child {
  animation: glitch 1250ms infinite;
}

.title span:last-child {
  animation: glitch 850ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #aa1f1f, -0.05em -0.02em 0 rgba(45, 231, 8, 0.75), 0.05em 0.02em 0 #4168dd;
  }
  14% {
    text-shadow: 0.05em 0 0 #aa1f1f, -0.05em -0.02em 0 rgba(45, 231, 8, 0.75), 0.05em 0.02em 0 #4168dd;
  }
  15% {
    text-shadow: -0.05em 0 0 #aa1f1f, 0.05em 0.02em 0 rgba(45, 231, 8, 0.75), -0.05em -0.05em 0 #4168dd;
  }
  49% {
    text-shadow: -0.05em 0 0 #aa1f1f, 0.05em 0.02em 0 rgba(45, 231, 8, 0.75), -0.05em -0.05em 0 #4168dd;
  }
  50% {
    text-shadow: 0.05em 0.02em 0 #aa1f1f, -0.05em -0.02em 0 rgba(45, 231, 8, 0.75), 0.05em -0.02em 0 #4168dd;
  }
  99% {
    text-shadow: 0.05em 0.02em 0 #aa1f1f, -0.05em -0.02em 0 rgba(45, 231, 8, 0.75), 0.05em -0.02em 0 #4168dd;
  }
  100% {
    text-shadow: -0.025em 0 0 #aa1f1f, 0.05em 0.02em 0 rgba(45, 231, 8, 0.75), -0.05em 0.02em 0 #4168dd;
  }
}