@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: url("images/snakeback.png") no-repeat center center fixed;
  background-size: cover;
}

.title {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: "Press Start 2P", cursive;
  position: relative;
  text-shadow: 0.05em 0 0 red, -0.05em -0.02em 0 lime, 0.05em 0.02em 0 blue;
  animation: glitch 1000ms infinite;
}

.title span {
  position: absolute;
  left: 50%;
  top: 0;
}

.title span:first-child {
  animation: glitch 1250ms infinite;
}

.title span:last-child {
  animation: glitch 850ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 red, -0.05em -0.02em 0 lime, 0.05em 0.02em 0 blue;
  }
  14% {
    text-shadow: 0.05em 0 0 red, -0.05em -0.02em 0 lime, 0.05em 0.02em 0 blue;
  }
  15% {
    text-shadow: -0.05em 0 0 red, 0.05em 0.02em 0 lime, -0.05em -0.05em 0 blue;
  }
  49% {
    text-shadow: -0.05em 0 0 red, 0.05em 0.02em 0 lime, -0.05em -0.05em 0 blue;
  }
  50% {
    text-shadow: 0.05em 0.02em 0 red, -0.05em -0.02em 0 lime, 0.05em -0.02em 0 blue;
  }
  99% {
    text-shadow: 0.05em 0.02em 0 red, -0.05em -0.02em 0 lime, 0.05em -0.02em 0 blue;
  }
  100% {
    text-shadow: -0.025em 0 0 red, 0.05em 0.02em 0 lime, -0.05em 0.02em 0 blue;
  }
}